html, body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #151F32;
}


#moleculeViewer {
    width: 100% !important;
    height: 100% !important;
    max-width: 100%;
}

#moleculeViewer canvas{
    width:100% !important;
    height:100% !important;
    max-width: 100%;
    position:unset !important;
    overflow:hidden !important; 
}

.panel {
    position: fixed;
    top: 15vh;
    right:-100%;
    /* right: -55vw; */
    width: 50%;
    height: 80%;
    background:rgb(30 43 60 / 70%);
    /* background-color: rgb(35 93 102 / 50%); */
    transition: right 2s;
    padding:0.5em;
    border-radius: 2vw;
    
}

.panel.open {
    right:25%;
    /* right: 5vw; */
}

.content {
    color: white;
    position: fixed;
    right:-100%;
    width: 50vw;
    height: 80vh;
    transition: right 2s 0.5s;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3vh;
}

.content.open {
    right:25%;
    /* right: 5vw; */
}

.button-container {
    display: flex;
    gap: 10px;
    width:100%;
    margin-top: 0.5em;
}

.button-container button {
    flex: 1; /* Makes buttons take equal space */
    min-width: 80px; /* Prevents them from shrinking too much */
    max-height: 80px;
}

.text-container {
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 1.25em;
    overflow: auto;
    max-height: 70vh;
}

.text-container p {
    text-align: left;
}


.project-title {
    font-weight: bold;
    font-size: 1.35em;
    text-decoration: underline;
}

.top-title {
  margin-block-start: 0;
}

.project-img-container {
    width: auto;
    height: 13vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-img-container img {
    width: auto;
    height: 100%;
}

.btn{
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	position: relative;
	cursor: pointer;
    font-size: 16px;
}

.close-btn-moving-gradient{
  background: none;
  margin-left: 1vw;
  height: 4vh;
  width: 4vw;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  border: none;
  background-size: 300% 100%;
  border-radius: 3.5vw;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.btn-moving-gradient{
	height: 6vh;
	width: 10vw;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	border: none;
	background-size: 300% 100%;
	border-radius: 0.75em;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.btn:hover {
	background-position: 100% 0;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.highlight {
    background-color: rgba(138, 43, 226, 0.2);
    border: 2px solid #8a2be2;
    box-shadow: 0 0 8px #c29ed8;
}

.btn-moving-gradient--purple{
	background-image: linear-gradient(to right,hsl(246, 45%, 38%), hsl(296, 45%, 38%), hsl(276, 45%, 38%) , #3D348B);
}

a {
    color: #75A8EB;
}

a:visited {
    color: #75A8EB;
}

a:hover {
    color: #CBC3E3;
}


@media (max-device-width: 480px){
    .panel{
        width: 90%;
       
    }
    .panel.open{
        right:5%;
    }
    .content{
        width:90%;
        font-size: 40px;
    }
    .content.open{
        right:5%;
    }
}